* {
  font-family: 'arial', sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0.3em;
  
  
}

:root {
  --main-color: #fd4646;
  --text-color: #171427;
  --bg-color: #fff;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
   
}

.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;

}

section {
  padding: 4rem 0 3rem;
}

/*Header*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  font-size: 1.9em;
  color: var(--text-color);
  font-weight: 500;


}

#bag-icon {
  font-size: 1.8em;
  cursor: pointer;


}

.section-title {
  font-size: 1.95rem;
  font-weight: 600;
  text-align: center;

}

.shop {
  margin-top: 2rem;
}

/* Shop Content */

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, auto));
  
}

.product-box {
  position: relative;
}



.product-img {
  width: 100%;
  height: auto;
  margin: bottom 0.5rem;

}

.product-title {
  font: size 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.price {
  font-weight: 700;
}

.add-bag {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(133, 128, 128, 0.753);
  color: rgb(253, 253, 253);
  padding: 1 px;
  cursor: pointer;
}

.add-bag:hover {
  background: hsl(249, 32%, 17%)
}

.product-box button {
  color: white;
  background-color: #0a0a0a;
  border: 5px solid transparent;
  transition: .2s ease;
  border-radius: 50px;
  font-size: 1.0rem;

}

.product-box button:hover {
  padding: 15px;
  border: 1px solid var(--text-color);
  transition: 0.4s;
}

#bagValue {
  background-color: transparent;
  color: #0f0707;
  font-size: 35px;
  padding: 2px 5px;
  border-radius: 50%;
  position: absolute;
  top: 10;
  right: 100px;
}

.bagRate {
  background-color: rgba(133, 128, 128, 0.753);
  color: rgb(253, 253, 253);
  border-radius: 10%;
  border: 1px solid black;
  font-size: 20px;
  padding: 8px 17px;
  position: absolute;
  top: 10;
  right: 160px;
}

#totalCost {
  display: none;
}

.LoginButton {
  background-color: rgba(133, 128, 128, 0.753);
  color: rgb(253, 253, 253);
  border-radius: 10%;
  border: 1px solid black;
  padding: 8px 17px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 40px 10px 465px;
  cursor: pointer;
}

#addToBag1 {
    background-color: rgba(60, 58, 58, 0.753);
    color: rgb(253, 253, 253);
    border: 1px solid black;
}
#addToBag2 {
    background-color: rgba(60, 58, 58, 0.753);
    color: rgb(253, 253, 253);
   border: 1px solid black;
}
#addToBag3 {
    background-color: rgba(60, 58, 58, 0.753);
    color: rgb(253, 253, 253);
    border: 1px solid black;
}
#addToBag4 {
    background-color: rgba(60, 58, 58, 0.753);
    color: rgb(253, 253, 253);
    border: 1px solid black; 
}
